<%= form_tag charges_path do %>
  <article>
    <label class="amount">
	  <h2>Rails 4 Quickly</h2>
      <span>Price: $17.00</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Rails 4 Quickly"
          data-amount="1700"
		  data-label='Buy Now'
		  data-allow-remember-me="false">
  </script>
<% end %>